<a href="https://colab.research.google.com/github/CHIH-YU-LIN/introduction-to-data-science/blob/master/week11_A107260093_%E6%9E%97%E8%8A%B7%E5%A6%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
genre = ("Action", "Adventure", "Sci-Fi")
print(genre)
print(type(genre))

('Action', 'Adventure', 'Sci-Fi')
<class 'tuple'>

In [3]:
genre = ("Action", "Adventure", "Sci-Fi")
# len()
print(len(genre))

3

In [4]:
print(genre[1])

Adventure

In [5]:
print(genre[:2])

('Action', 'Adventure')

In [6]:
x = 0.25
print(x.as_integer_ratio())
print(type(x.as_integer_ratio()))

(1, 4)
<class 'tuple'>

In [7]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}
print(the_avengers)
print(type(the_avengers))

{'Iron Man': 'Tony Stark', 'Captain America': 'Steve Rogers', 'Hulk': 'Bruce Banner', 'Thor': 'Thor', 'Black Widow': 'Natasha Romanoff', 'Hawkeye': 'Clint Barton'}
<class 'dict'>

In [8]:
print(the_avengers.keys())
print(the_avengers.values())
print(the_avengers.items())

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])
dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])
dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [9]:
print(the_avengers["Iron Man"])
print(the_avengers["Captain America"])
print(the_avengers["Hulk"])
print(the_avengers["Thor"])
print(the_avengers["Black Widow"])
print(the_avengers["Hawkeye"])

Tony Stark
Steve Rogers
Bruce Banner
Thor
Natasha Romanoff
Clint Barton

In [10]:
primes = {2, 3, 5, 7, 11, 13}
print(primes)
print(type(primes))

{2, 3, 5, 7, 11, 13}
<class 'set'>

In [11]:
primes = {2, 3, 3, 3, 5, 5}
print(primes)

{2, 3, 5}

In [0]:
primes = {2, 3, 5, 7, 11, 13}
odds = {1, 3, 5, 7, 9, 11, 13}

In [13]:
print(primes | odds)

{1, 2, 3, 5, 7, 9, 11, 13}

In [14]:
print(primes & odds)

{3, 5, 7, 11, 13}

In [15]:
print(primes - odds)

{2}

In [16]:
print(primes ^ odds)

{1, 2, 9}

In [1]:
avengers_endgame = {
    "rating": 8.8,
    "genre": ["Action", "Adventure", "Sci-Fi"],
    "heroes": {
        "Iron Man": "Tony Stark",
        "Captain America": "Steve Rogers",
        "Hulk": "Bruce Banner",
        "Thor": "Thor",
        "Black Widow": "Natasha Romanoff",
        "Hawkeye": "Clint Barton"
    }
}
heroes_dict = avengers_endgame['heroes']
heroes_dict_len = len(heroes_dict)
heroes_dict_keys = list(heroes_dict.keys())
i = 0
while i < heroes_dict_len:
    dict_key = heroes_dict_keys[i]
    print(heroes_dict[dict_key])
    i += 1

Tony Stark
Steve Rogers
Bruce Banner
Thor
Natasha Romanoff
Clint Barton